@{
    ViewData["Title"] = "Truck Breakdowns Reports";
    Layout = "~/Views/Shared/_ReportsLayout.cshtml";
}

<head>
    <script type="text/javascript">
        window.onload = function () {
            var data = {
                    labels: @Html.Raw(ViewBag.Months),
    		        datasets:  [{
                        label: 'Truck Breakdowns',
                        data: @Html.Raw(ViewBag.Breakdowns),
                        fill: false,
                        borderColor: 'rgb(255, 99, 132)',
                        backgroundColor: 'rgb(255, 99, 132)'
                    }]
    	    };
            var data2 = {
                    labels: @Html.Raw(ViewBag.Months),
    		        datasets:  [{
                        label: 'Monthly Collections',
                        data: @Html.Raw(ViewBag.Collections),
                        fill: false,
                        borderColor: 'rgb(255, 99, 132)',
                        backgroundColor: 'rgb(255, 99, 132)'
                    }]
    	    };
            var options = {
               scales: {
                            yAxes: [{
                                beginAtZero: true,
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Number of Breakdowns'
                                }   
                            }],
                            xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Months'
                                }
                            }]
                        },
            };
             var options2 = {
               scales: {
                            yAxes: [{
                                beginAtZero: true,
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Number of Collections'
                                }   
                            }],
                            xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Months'
                                }
                            }]
                        },
                        legend: {
                            display: false
                        },
            };
            if ($("#barChart").length) {
                var barChartCanvas = $("#barChart").get(0).getContext("2d");
                // This will get the first returned node in the jQuery collection.
                var barChart = new Chart(barChartCanvas, {
                    type: 'bar',
                    data: data2,
                    options: options2
                });
            }
            
            if ($("#lineChart").length) {
                var lineChartCanvas = $("#lineChart").get(0).getContext("2d");
                // This will get the first returned node in the jQuery collection.
                var lineChart = new Chart(lineChartCanvas, {
                    type: 'line',
                    data: data,
                    options: options
                });
            }
            chart.render();
        }
        
    </script>
</head>
<body>
     <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                
                
                <div class="row">
                     @using (Html.BeginForm("TruckBreakdown","Reports"))
                            { 
                    <div class="row">
                    <div class="col-lg-3">
                         <h4>Start Date</h4>
                         <input width="30" type="date" name="startdate"  />
                    </div> 
                   
                    <div class="col-lg-3">
                         <h4 >End Date</h4>
                         <input width="30" type="date" name="enddate"   />
                    </div>
                    
                
                    <div class="col-lg-3" >
                            

                                <button type="submit"  class="btn btn-primary" asp-action="TruckBreakdown">Update</button>
                       
                        
                     </div>
                     </div>
                    }
                <h4 class="card-title">Sort By</h4>
                <div class="row">
                    <div class="col-lg-3">
                    @Html.ActionLink("1 Month", "TruckBreakdown", "Reports", new { id= "1" }, new { @class="btn btn-secondary btn-rounded btn-fw"} )
                    </div>
                    <div class="col-lg-3">
                    @Html.ActionLink("3 Month", "TruckBreakdown", "Reports", new { id= "3" }, new { @class="btn btn-secondary btn-rounded btn-fw"} )
                    </div>
                    <div class="col-lg-3">
                    @Html.ActionLink("6 Months", "TruckBreakdown", "Reports", new { id= "6" }, new { @class="btn btn-secondary btn-rounded btn-fw"} )
                    </div>
                    <div class="col-lg-3">
                    @Html.ActionLink("1 Year", "TruckBreakdown", "Reports", new { id= "12" }, new { @class="btn btn-secondary btn-rounded btn-fw"} )
                    </div>
                </div> 
                
                </div>

                
                
                <h4 class="card-title">Truck Breakdowns</h4>
                     <div class="col-lg-12 grid-margin stretch-card">

                         
               
                            <canvas height="125" id="lineChart"></canvas>
                     </div>
            </div>
                   
        </div>
    </div>
     <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                 <h4 class="card-title">Waste Collected</h4>
                     <div class="col-lg-12 grid-margin stretch-card">

                         
               
                            <canvas height="125" id="barChart"></canvas>
                     </div>
            </div>
        </div>
    </div>


    <script src="../../wwwroot/wwwroot/vendors/chart.js/Chart.min.js"></script>
</body>